body {
  background-color: #1f1e1e;
  color: rgb(141, 135, 135);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.main-container {
  margin-top: 100px;
  display: flex;
  background-image: url('./images/timer.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

.timer-container, .dialPad-container {
  width: 300px;
  height: 400px;
}

.dialPad-container ul{
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  justify-content: center;
}

.dialPad-container li {
  list-style-type: none;
  color: red;
  background-color: cyan;
  margin:5px;
  padding: 15px 20px;
}


.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 3em;
}

