body {
  color: rgb(141, 135, 135);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  margin: 0;
  overflow: hidden;
}

header {
  font-family: "AmongUs";
  display: flex;
  justify-content: center;
  background-color: #0a0a0a;
  margin: 0;
  width: 100%;
  color: rgba(245, 245, 245, 0.822);
}

.title-spotlight {
  color: red;
}

#root {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.App {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background-image: url("./images/timer.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 470px;
  min-height: 260px;
}

.timer-container,
.dial-pad-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  margin-top: 40px;
  font-size: 3em;
  color: green;
  width: 48%;
}

.dial-pad-buttons {
  width: 150px;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 165, 165);
  padding: 17px 8px;
}
.dial-pad-container button {
  width: 40px;
  height: 40px;
  margin: 2px;
  border: 3px solid grey;
  border-radius: 5px;
  font-size: 1.5em;
}

.dial-pad-container button:hover {
  background-color: rgb(219, 215, 215);
}

#del, #clear {
  font-size: 0.8em;
  text-align: center;
}




/* The background is by Loius Hoebregts. Available on Codepe. Copyright (c) 2021 by Louis Hoebregts (https://codepen.io/Mamboleoo/pen/WNxOvjo) */
sky {
  display: block;
  background: black;
  width: 100vw;
  height: 100vh;
}

star {
  border-radius: 50%;
  background: white;
  position: absolute;
  -webkit-animation: star linear infinite;
          animation: star linear infinite;
}
star:nth-child(1) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 17vh;
}
star:nth-child(2) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 38s;
          animation-duration: 38s;
  -webkit-animation-delay: -21s;
          animation-delay: -21s;
  top: 18vh;
}
star:nth-child(3) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  top: 94vh;
}
star:nth-child(4) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  top: 7vh;
}
star:nth-child(5) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 49vh;
}
star:nth-child(6) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  top: 70vh;
}
star:nth-child(7) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 39s;
          animation-duration: 39s;
  -webkit-animation-delay: -36s;
          animation-delay: -36s;
  top: 40vh;
}
star:nth-child(8) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 5vh;
}
star:nth-child(9) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
  top: 39vh;
}
star:nth-child(10) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-delay: -33s;
          animation-delay: -33s;
  top: 30vh;
}
star:nth-child(11) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  top: 84vh;
}
star:nth-child(12) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 41s;
          animation-duration: 41s;
  -webkit-animation-delay: -31s;
          animation-delay: -31s;
  top: 7vh;
}
star:nth-child(13) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
  top: 65vh;
}
star:nth-child(14) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 29s;
          animation-duration: 29s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  top: 27vh;
}
star:nth-child(15) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 37s;
          animation-duration: 37s;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  top: 26vh;
}
star:nth-child(16) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  top: 58vh;
}
star:nth-child(17) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  top: 23vh;
}
star:nth-child(18) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
  top: 11vh;
}
star:nth-child(19) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  top: 37vh;
}
star:nth-child(20) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
  top: 12vh;
}
star:nth-child(21) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -33s;
          animation-delay: -33s;
  top: 25vh;
}
star:nth-child(22) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: -35s;
          animation-delay: -35s;
  top: 30vh;
}
star:nth-child(23) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
  top: 54vh;
}
star:nth-child(24) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
  top: 88vh;
}
star:nth-child(25) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  top: 90vh;
}
star:nth-child(26) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  top: 94vh;
}
star:nth-child(27) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: -21s;
          animation-delay: -21s;
  top: 76vh;
}
star:nth-child(28) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 18s;
          animation-duration: 18s;
  -webkit-animation-delay: -38s;
          animation-delay: -38s;
  top: 99vh;
}
star:nth-child(29) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -14s;
          animation-delay: -14s;
  top: 53vh;
}
star:nth-child(30) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 63vh;
}
star:nth-child(31) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
  top: 11vh;
}
star:nth-child(32) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: -21s;
          animation-delay: -21s;
  top: 86vh;
}
star:nth-child(33) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 39s;
          animation-duration: 39s;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  top: 44vh;
}
star:nth-child(34) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: -28s;
          animation-delay: -28s;
  top: 76vh;
}
star:nth-child(35) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 39s;
          animation-duration: 39s;
  -webkit-animation-delay: -16s;
          animation-delay: -16s;
  top: 12vh;
}
star:nth-child(36) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  top: 4vh;
}
star:nth-child(37) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  -webkit-animation-delay: -35s;
          animation-delay: -35s;
  top: 23vh;
}
star:nth-child(38) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: -38s;
          animation-delay: -38s;
  top: 41vh;
}
star:nth-child(39) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  top: 37vh;
}
star:nth-child(40) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  -webkit-animation-delay: -28s;
          animation-delay: -28s;
  top: 89vh;
}
star:nth-child(41) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
  -webkit-animation-delay: -22s;
          animation-delay: -22s;
  top: 7vh;
}
star:nth-child(42) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  top: 68vh;
}
star:nth-child(43) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 16s;
          animation-duration: 16s;
  -webkit-animation-delay: -37s;
          animation-delay: -37s;
  top: 67vh;
}
star:nth-child(44) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  top: 82vh;
}
star:nth-child(45) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 43s;
          animation-duration: 43s;
  -webkit-animation-delay: -28s;
          animation-delay: -28s;
  top: 83vh;
}
star:nth-child(46) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-delay: -26s;
          animation-delay: -26s;
  top: 91vh;
}
star:nth-child(47) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 36s;
          animation-duration: 36s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
  top: 18vh;
}
star:nth-child(48) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 86vh;
}
star:nth-child(49) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 21s;
          animation-duration: 21s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 68vh;
}
star:nth-child(50) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 42s;
          animation-duration: 42s;
  -webkit-animation-delay: -39s;
          animation-delay: -39s;
  top: 33vh;
}
star:nth-child(51) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 34s;
          animation-duration: 34s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 91vh;
}
star:nth-child(52) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 33s;
          animation-duration: 33s;
  -webkit-animation-delay: -38s;
          animation-delay: -38s;
  top: 67vh;
}
star:nth-child(53) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
  top: 43vh;
}
star:nth-child(54) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 19s;
          animation-duration: 19s;
  -webkit-animation-delay: -19s;
          animation-delay: -19s;
  top: 25vh;
}
star:nth-child(55) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  -webkit-animation-delay: -17s;
          animation-delay: -17s;
  top: 16vh;
}
star:nth-child(56) {
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 23s;
          animation-duration: 23s;
  -webkit-animation-delay: -27s;
          animation-delay: -27s;
  top: 65vh;
}
star:nth-child(57) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -32s;
          animation-delay: -32s;
  top: 90vh;
}
star:nth-child(58) {
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  top: 64vh;
}
star:nth-child(59) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 38s;
          animation-duration: 38s;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  top: 14vh;
}
star:nth-child(60) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  top: 89vh;
}
star:nth-child(61) {
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  top: 34vh;
}
star:nth-child(62) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 26s;
          animation-duration: 26s;
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
  top: 14vh;
}
star:nth-child(63) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 28s;
          animation-duration: 28s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  top: 84vh;
}
star:nth-child(64) {
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 39s;
          animation-duration: 39s;
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
  top: 11vh;
}
star:nth-child(65) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 31s;
          animation-duration: 31s;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  top: 3vh;
}
star:nth-child(66) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -23s;
          animation-delay: -23s;
  top: 1vh;
}
star:nth-child(67) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 44s;
          animation-duration: 44s;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
  top: 48vh;
}
star:nth-child(68) {
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  -webkit-animation-delay: -33s;
          animation-delay: -33s;
  top: 24vh;
}
star:nth-child(69) {
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 24s;
          animation-duration: 24s;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  top: 29vh;
}
star:nth-child(70) {
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 35s;
          animation-duration: 35s;
  -webkit-animation-delay: -36s;
          animation-delay: -36s;
  top: 43vh;
}

@-webkit-keyframes star {
  from {
    transform: translate3d(-100%, 0, 1px);
  }
  to {
    transform: translate3d(100vw, 0, 1px);
  }
}

@keyframes star {
  from {
    transform: translate3d(-100%, 0, 1px);
  }
  to {
    transform: translate3d(100vw, 0, 1px);
  }
}
